#sloth{
  display:none;
}
#turtle {
  display: none;
}
#hedgehog{
  display: none;
}
#noanimal{
  display: none;
}
img {
  width: 50%;
}
#sloth2{
  display: none;
}
#hedgehog2{
  display: none;
}
#turtle2{
  display: none;
}
